bin/Debug/picasa_ini_reader.exe
bin/Debug/picasa_ini_reader.pdb
bin/Debug/picasa_ini_reader.vshost.exe.manifest
bin/Release/picasa_ini_reader.exe
bin/Release/picasa_ini_reader.pdb
obj/Debug/picasa_ini_reader.csproj.FileListAbsolute.txt
obj/Debug/picasa_ini_reader.exe
obj/Debug/picasa_ini_reader.pdb
obj/Debug/ResolveAssemblyReference.cache
obj/Release/picasa_ini_reader.csproj.FileListAbsolute.txt
obj/Release/picasa_ini_reader.exe
obj/Release/picasa_ini_reader.pdb
